%h1 Log In

= form_for(:session, url: login_path) do |f|
  .form-group
    .field
      = f.label :email
      = f.text_field :email, class: 'form-control', placeholder: "Email Address"

  .form-group
    .field
      = f.label :password
      = f.password_field :password, class: 'form-control', placeholder: "Password"
  .actions
    = f.submit 'Log In', class: "btn btn-default"
