= form_for @tray do |f|
  - if @tray.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tray.errors.count, "error")} prohibited this tray from being saved:"
      %ul
        - @tray.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :washed
    = f.number_field :washed
  .field
    = f.label :waste
    = f.number_field :waste
  .field
    = f.label :shed
    = f.collection_select(:shed_id, Shed.all, :id, :name)
  .actions
    = f.submit 'Save'
