= bootstrap_form_for @tray do |f|
  - if @tray.errors.any?
    = f.alert_message "#{pluralize(@user.errors.count, "error")} prohibited this tray from being saved:"

  = f.number_field :washed
  = f.number_field :waste
  = f.collection_select(:shed_id, Shed.all, :id, :name)
  = f.submit 'Save'
