= bootstrap_form_for @tray do |f|
  - if @tray.errors.any?
    = f.alert_message "#{pluralize(@tray.errors.count, 'error')} prohibited this tray from being saved:"

  %h3
    Processed
    %ul
      %li cleaned
      %li seconds
      %li jumbos
      %li waste

  = f.number_field :washed, placeholder: "How many were successfully washed ?"
  = f.number_field :waste, placeholder: "How many were considered wasted ?"
  = f.collection_select(:tray_type_id, TrayType.all, :id, :type, {label: "What type of tray ?"})
  = f.collection_select(:shed_id, Shed.all, :id, :name, {label: "What shed did the tray come from ?"})
  = f.hidden_field :user_id, value: session[:user]
  = f.submit 'Save'
