.page-header
  = link_to trays_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_tray_path(@tray), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= "Tray ##{@tray.id}"

%dl.dl-horizontal
  %dt Washed:
  %dd= @tray.washed

%dl.dl-horizontal
  %dt Wasted:
  %dd= @tray.waste

%dl.dl-horizontal
  %dt Shed:
  %dd= @tray.shed.name

%dl.dl-horizontal
  %dt Tray Type:
  %dd= @tray.tray_type.type

%dl.dl-horizontal
  %dt Washer:
  %dd= @tray.user
