.page-header
  = link_to new_run_type_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Run Type

%h1 Users

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
      %th.text-center Name
      %th.text-center Email
      %th.text-center Active?
      %th
      %th

    %tbody
      - @users.each do |user|
        %tr
          %td.text-center
            = link_to "#{user}", user
          %td.text-center 
            = link_to user.email, user
          %td.text-center 
            = link_to user.active, user
          %td.text-center
            = link_to 'Edit', edit_user_path(user)
          %td.text-center
            = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
