.page-header
  = link_to tray_types_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_tray_type_path(@tray_type), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= "Tray Type ##{@tray_type.id}"

%dl.dl-horizontal
  %dt Type:
  %dd= @tray_type.type
