= bootstrap_form_for @run do |f|
  - if @run.errors.any?
    = f.alert_message "#{pluralize(@run.errors.count, 'error')} prohibited this run from being saved:"

  = f.number_field :delivered, placeholder: "How many trays were delivered from flock ?"
  = f.number_field :standard, placeholder: "How many were considered standard ?"
  = f.number_field :seconds, placeholder: "How many were considered seconds ?"
  = f.number_field :jumbo, placeholder: "How many were considered jumbo ?"
  = f.collection_select(:run_type_id, RunType.all, :id, :type, {label: "What type of run ?"})
  = f.collection_select(:flock_id, Flock.all, :id, :name, {label: "What flock did the run come from ?"})

  -if params[:action] == 'edit'
    =f.check_box :active
    
  = f.hidden_field :user_id, value: session[:user]
  = f.submit 'Save'
