= bootstrap_form_for @run do |f|
  - if @run.errors.any?
    = f.alert_message "#{pluralize(@run.errors.count, 'error')} prohibited this run from being saved:"

  - %w(delivered standard seconds jumbo).each do |egg_type|
    = f.number_field "#{egg_type}_trays".to_sym  , placeholder: "How many trays were #{egg_type} from flock ?"
    = f.number_field "#{egg_type}_singles".to_sym, placeholder: "How many were #{egg_type} singles from flock ?"

  = f.collection_select(:run_type_id, RunType.active, :id, :type, {label: "What type of run ?"})
  = f.collection_select(:flock_id, Flock.active, :id, :name, {label: "What flock did the run come from ?"})

  -if params[:action] == 'edit'
    =f.check_box :active
    
  = f.hidden_field :user_id, value: session[:user]
  = f.submit 'Save'
