%h1 Runs

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.text-center Washed
      %th.text-center Waste
      %th.text-center Flock
      %th.text-center Type

  %tbody
    - @runs.each do |run|
      %tr
        %td.text-center= run.washed
        %td.text-center= run.waste
        %td.text-center= run.flock
        %td.text-center= run.run_type.type

%h1 Totals

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.text-center Washed
      %th.text-center Waste

  %tbody
    %tr
      %td.text-center= @runs.map{|t| t.washed}.inject(0, :+)
      %td.text-center= @runs.map{|t| t.waste}.inject(0, :+)
