%h1 Runs

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.text-center Standard
      %th.text-center Waste
      %th.text-center Flock
      %th.text-center Type
      %th.text-center Washer

  %tbody
    - @runs.each do |run|
      %tr
        %td.text-center= run.standard
        %td.text-center= run.waste
        %td.text-center= run.flock
        %td.text-center= run.run_type.type
        %td.text-center= run.user

%h1 Totals

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.text-center Delivered
      %th.text-center Standard
      %th.text-center Seconds
      %th.text-center Jumbo
      %th.text-center Waste

  %tbody
    %tr
      %td.text-center= @runs.map{|t| t.delivered || 0}.inject(0, :+)
      %td.text-center= @runs.map{|t| t.standard  || 0}.inject(0, :+)
      %td.text-center= @runs.map{|t| t.seconds   || 0}.inject(0, :+)
      %td.text-center= @runs.map{|t| t.jumbo     || 0}.inject(0, :+)
      %td.text-center= @runs.map{|t| t.waste     || 0}.inject(0, :+)
